---
layout: main
title: 11ty Starter template
---
<section id="home" class="centered-content">
    <h1>Welcome on 11ty Starter template</h1>

    <img src="/img/just-start.jpg" alt="Just start" />
    <p>
        Photo by <a href="https://unsplash.com/@dtopkin1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dayne Topkin</a> on
        <a href="https://unsplash.com/s/photos/start?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
</section>